.navigation {
    width: fit-content;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid rgb(138, 247, 174);
}

.title {
    font-size: 2em;
    font-weight: bold;
    color: #42b983;
    text-decoration: none;
    margin: 20px;
}