.pagination ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    & li {
        margin: 10px
    }
    & button {
        padding: 10px 10px;
        cursor: pointer
    }
    & button:hover {
        background-color: lightgreen
    }
}

.clicked-page {
    background-color: lightgreen
}